spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/testdb
    username: root
    password: 415623
    schema: classpath:db/schema-test.sql
    data: classpath:db/data-test.sql
    initialization-mode: always


  mvc:
    log-resolved-exception: true



mybatis-plus:
  typeEnumsPackage: tech.crm.crmserver.common.enums