spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://mydb.mysql.database.azure.com:3306/mydb?reconnect=true
    username: yyds
    password: comp30022-
  mvc:
    log-resolved-exception: true



mybatis-plus:
  typeEnumsPackage: tech.crm.crmserver.common.enums


